{% extends "layouts/base.html" %}

{% block title %} Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Performance evaluation</h4>
          </div>
          <div class="table-responsive"><a href="perfdetail.html">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
              <tr>
                  <th>
                      Name
                  </th>
                  <th>
                      Country
                  </th>
                  <th>
                      City
                  </th>
                  <th class="text-center">
                      Sentiment
                  </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>
                      Dakota Rice
                  </td>
                  <td>
                      Niger
                  </td>
                  <td>
                      Oud-Turnhout
                  </td>
                  <td class="text-center">
                      88%
                  </td>
              </tr>
              <tr>
                  <td>
                      Minerva Hooper
                  </td>
                  <td>
                      Curaçao
                  </td>
                  <td>
                      Sinaai-Waas
                  </td>
                  <td class="text-center">
                      82%
                  </td>
              </tr>
              <tr>
                  <td>
                      Sage Rodriguez
                  </td>
                  <td>
                      Netherlands
                  </td>
                  <td>
                      Baileux
                  </td>
                  <td class="text-center">
                      71%
                  </td>
              </tr>
              <tr>
                  <td>
                      Philip Chaney
                  </td>
                  <td>
                      Korea, South
                  </td>
                  <td>
                      Overland Park
                  </td>
                  <td class="text-center">
                      68%
                  </td>
              </tr>
              <tr>
                  <td>
                      Doris Greene
                  </td>
                  <td>
                      Malawi
                  </td>
                  <td>
                      Feldkirchen in Kärnten
                  </td>
                  <td class="text-center">
                      67%
                  </td>
              </tr>
              <tr>
                  <td>
                      Mason Porter
                  </td>
                  <td>
                      Chile
                  </td>
                  <td>
                      Gloucester
                  </td>
                  <td class="text-center">
                      87%
                  </td>
              </tr>
              <tr>
                  <td>
                      Jon Porter
                  </td>
                  <td>
                      Portugal
                  </td>
                  <td>
                      Gloucester
                  </td>
                  <td class="text-center">
                      88%
                  </td>
              </tr>
              </tbody>
          </table></a>
        </div>
        </div>
      </div>  
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  function add() {
    var popups = document.querySelector('.hidef');
    popups.style.display = 'block';
    setTimeout(function() {
      var popups = document.querySelector('.hidef2');
    popups.style.display = 'block';
}, 400);
    
  }
</script>
{% endblock javascripts %}
